* {
    box-sizing: border-box
}

.container {
    width: 500px;
    padding: 16px;
    margin: 5px 2px 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

h1 {
    text-align: center;
}

select {
    cursor: pointer;
}

input[type=text],
input[type=date] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-style: solid;
    background: #f1f1f1;
    cursor: pointer;
}

input[type=color] {
    cursor: pointer;
}

.input_reset {
    background-color: #cdb5b2;
    border-radius: 25px;
    color: #d00c0c;
    padding: 8px 20px;
    margin: 8px 0px;
    border-style: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.input_reset:hover {
    opacity: 5;
}

.input_button {
    background-color: #4e9450;
    border-radius: 25px;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-style: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.input_button:hover {
    opacity: 5;
}

footer {
    text-align: center;
}